name: aspd24-ml-project
channels:
  - defaults
dependencies:
  - python=3.8
  - pandas
  - numpy
  - scikit-learn
  - matplotlib
  - seaborn
  - jupyter
  - pyyaml
  - pip
  - pip:
      - hyperopt
      - xgboost
      - lightgbm
      - catboost